<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Email: <%= @contact.email %></p>
    <p>Send To: <%= "#{@contact.send_to_one}, #{@contact.send_to_two}, #{@contact.send_to_three}, #{@contact.send_to_four}" %></p>
    <p>

    Message:<br>
    ----------
    </p>
    <p><%= @contact.message %></p>
  </body>
</html>