<br>
<div id='bloco_do_about' class='container is-max-desktop'>
  <section id='corpo_do_about'>
    <div class="columns">
      <div class="column">
        <p class="title" id='title_about'>About</p>
      </div>
    </div>

    <br>

    <div class="columns">
      <div class="container is-max-desktop" id='text_about'>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eget felis orci. Duis et lobortis velit, in lobortis dolor. Nullam scelerisque porttitor quam eget pharetra. Duis sagittis libero non tortor suscipit maximus. Vestibulum porta erat at mi vulputate placerat. Proin vulputate, magna sit amet rhoncus egestas, tortor massa efficitur nisi, a gravida eros lectus eu nunc. Donec maximus ante sed mattis pellentesque. Ut ullamcorper, elit quis mattis elementum, sapien felis aliquam dui, a commodo neque lorem sit amet eros. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent venenatis ex id lacus placerat, eget sagittis ante euismod. Curabitur vitae tincidunt purus. <br>

Ut a lectus eget nulla interdum semper. In at dui diam. Mauris vitae molestie enim. Donec sollicitudin ligula quis lectus imperdiet volutpat. Duis facilisis auctor est, non euismod sapien auctor eu. Donec maximus rutrum maximus. Ut quis dictum velit. Morbi egestas scelerisque dictum. Cras sollicitudin, nulla maximus auctor ultrices, metus felis pharetra nisi, vitae lacinia purus ante ut mauris. Suspendisse eu volutpat enim, at maximus magna. Phasellus ullamcorper scelerisque leo, sit amet accumsan dolor luctus et. Aliquam erat volutpat. Sed orci nibh, auctor et ultrices in, malesuada vitae risus.

<br>Pellentesque a laoreet eros, non euismod nunc. Suspendisse malesuada massa enim, et cursus metus condimentum id. Integer vitae mattis neque. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas id congue turpis, ut convallis magna. Etiam fermentum a tellus imperdiet blandit. Curabitur ultrices nisl id ligula tincidunt venenatis. Proin interdum vitae arcu ac pharetra.

<br>Mauris accumsan tortor nec auctor hendrerit. Etiam eget nunc dictum, laoreet nulla vitae, blandit nunc. Cras lacinia leo ultricies mauris scelerisque, ut semper enim volutpat. Sed ultrices nunc et rutrum accumsan. Praesent semper, turpis vel blandit efficitur, mi odio dictum urna, sit amet mattis lectus turpis vitae mauris. Duis rutrum neque mi, a varius mi iaculis in. Nulla mattis erat vel quam lacinia, sed malesuada augue auctor. Donec ultrices tempus orci. Ut molestie facilisis mollis. Vestibulum eu interdum nunc, sed malesuada felis. Morbi libero ipsum, faucibus eget risus ac, condimentum aliquet diam. Mauris fringilla, tellus non viverra maximus, erat elit blandit sem, ut sollicitudin ligula augue in augue. Aliquam eget enim sed arcu aliquet elementum non at augue. Phasellus tristique et est et pellentesque. Phasellus id gravida arcu.

<br>Fusce lacus nunc, tincidunt a lorem dictum, rhoncus auctor arcu. Pellentesque in sem ex. Nunc pretium arcu non lorem dignissim pulvinar. Proin dignissim, massa at sollicitudin egestas, arcu ipsum molestie turpis, at euismod risus nunc et ligula. Nam vehicula metus nulla, vel cursus erat elementum id. Donec in erat magna. Nullam vestibulum, enim vel iaculis hendrerit, lectus lectus ullamcorper mauris, id auctor tellus odio eu arcu. Vestibulum in lobortis augue. Pellentesque vulputate tristique sagittis. Vestibulum nisl libero, maximus vel ligula id, commodo auctor justo. Sed at ligula eu est sagittis facilisis vel non magna. Nunc et nisi vel dolor viverra bibendum vel at arcu. Morbi rhoncus, sapien at iaculis hendrerit, nisi orci rutrum tortor, eget ultrices felis orci pellentesque libero. Ut at lectus vestibulum, fringilla orci eget, rhoncus purus. Sed volutpat elementum maximus.
      </p>
    </div>
  </section>
</div>
<br>