div#bloco_do_artigo{
    border: 1px solid;
    background-color: whitesmoke;
    box-shadow: 0px 0px 10px black;
}

section#corpo_do_artigo{
    padding: 50px;
}

div#botao_show_bot{
    justify-content: center;
}