<div class="card">
    <div class="card-image">
    <figure class="image is-rounded is-128x128" style="margin: 0 auto;">
                <%= link_to (image_tag member.featured_image, class: 'is-rounded'), member %>
    </figure>
    </div>
    <div class="card-content">
    <div class="media">
        <div class="media-content">
        <p class="title"><%= member.name %></p>
        <p class="subtitle is-5"><%= member.schooling %></p>
        </div>
    </div>
    </div>
</div>